<html ng-app="simulation">
<head>
    <!--Online resources-->
    <script src="https://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <!--Local resources -->
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/viewer.css"/>
    <link href="js/c3/c3.css" rel="stylesheet" type="text/css">
    <link href="js/colorbrewer/colorbrewer.css" rel="stylesheet" type="text/css">


    <!--Code-->
    <script src="js/globals.js"></script>       <!-- Common server and client variables -->
    <script src="js/support.js"></script>       <!-- Client-side support functions -> Should be load after all map-related CSS and before any other CSS -->
    <script src="js/map.js"></script>           <!-- Client-side interaction methods -->
    <script src="js/actions.js"></script>       <!-- Client-server socket communication -->
    <script src="js/simulation.js"></script>     <!-- Simulation App -->
    <script src="js/leaflet-providers.js"></script>
    <script src="js/c3/c3.min.js"></script>
    <script src="js/d3/d3.min.js" charset="utf-8"></script>
    <script src="js/colorbrewer/colorbrewer.js"></script>


    <script src="https://raw.githubusercontent.com/Caged/d3-tip/master/index.js"></script>
    <!-- Load d3.js and c3.js -->


    <!--Additional CSS files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body style="background-color:#737373">
<div class="container nopadding">
  <div class="fixed_title">
    <h3><font color="white">TOMSA</font></h3>
  </div>
  <div class="fixed_legend">
    <div class="row" ng-controller="SimulationController as simulation">
      <div class="col-md-2">
        <h2><font color="white">URBAN MODEL SIMULATOR</font></h2>
      </div>
      <div class="col-md-2">
        <form class="form-horizontal" role="form" style="padding:1cm 0cm 0cm 0cm;">
          <button style="width:120px;height:55px;background-color:#f0f0f0;" ng-click="simulation.begin()">
            <p style="padding:0.2cm 0cm 0cm 0cm"><b>Start Simulation</b></p>
          </button>
        </form>
      </div>
      <div class="col-md-2" style="padding:0cm 0cm 0cm 0cm;">    
        <form class="form-horizontal" role="form">
          <h4 ng-show="simulation.startSim" style="font-weight:lighter;padding:0.5cm 0cm 0cm 0.5cm;"><font color="white">Step: {{simulation.time}}</font></h4> 
          <img ng-src="https://icons.veryicon.com/png/System/Icons8%20Metro%20Style/Pager%20Previous.png" ng-click="simulation.previous()" width="45" ng-show="simulation.startSim"> 
          <img ng-src="https://icons.veryicon.com/png/System/Icons8%20Metro%20Style/Pager%20Next.png" ng-click="simulation.next()" width="45" ng-show="simulation.startSim"> 
        </form>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="row wrapper">
    <div class="col-md-10 lowB">
      <div class="scrollable pull-left">
        <div class="row">
          <div id="map" style="height:77%;">
            The map is going to fill this div...
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 lowB" >
      <div class="fixed">
        <div class="row">
          <h4 style="padding:0cm 0cm 0cm 3.5cm;font-weight: lighter;"><font color="#f0f0f0">Rented-Owner Occupied Proportion</font></h4>
        </div>
        <div id="indicator1">
          <h4 style="font-weight: lighter;padding:0cm 0cm 0cm 0.5cm;"><font color="#f0f0f0">Start simulation to show data</font></h4>
        </div>
        <div class="row">
          <h5><font color="#f0f0f0">$$ROP_i = \frac{nR_i}{nO_i}, \forall i \in S$$</font></h5>
              <h4 style="padding:0cm 0cm 0cm 0.9cm;font-weight: lighter;"><font color="#f0f0f0">Where:</font></h4>
              <ul>
                <li>
                  <h5 style="padding:0cm 0cm 0cm 0.9cm;font-weight: lighter;"><font color="#f0f0f0">\(S = \{0,1,..,number\ of\ steps - 1\}\)</font></h5>
                </li>
                <li>
                  <h5 style="padding:0cm 0cm 0cm 0.9cm;font-weight: lighter;"><font color="#f0f0f0">\(nR_i = number\ of\ rented\ properties\ in\ step\ i\)</font></h5>
                </li>
                <li>
                  <h5 style="padding:0cm 0cm 0cm 0.9cm;font-weight: lighter;"><font color="#f0f0f0">\(nO_i = number\ of\ occupied\ properties\ in\ step\ i\)</font></h5>
                </li>
              </ul>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    createMap();
  </script>
</body>
</html>
