/* Do NOT use UPPERCASE for id/class definition... it wont work with the support.js method! (objects properties names are lowercase)*/
.layer {
    color : #00cbff;
    weight : 0.5;
}

.focusedobject {
    color: #FFFF00;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.info {
    padding: 0;
    margin: 0;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.wrapper {
    padding: 1.8cm 0.9cm 0cm 0.8cm;
}

ul.dropdown-menu{
    position: absolute;
    z-index: 10000;
}

h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 26px;
  padding: 0cm 0cm 0.2cm 0.2cm;
}
h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 22px;

  padding: 0cm 0cm 0.2cm 1cm;
}
h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 15.4px;
  padding: 0cm 0cm 0cm 0.2cm;
}
p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  padding: 0cm 0cm 0cm 0cm;
}
blockquote {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
  padding: 0.4cm 1cm 0.4cm 1cm;
}
pre {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  padding: 0cm 0cm 0cm 0cm;
}

h4 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
  padding: 0.4cm 0cm 0cm 0cm;
}

h5 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 8px;
  padding: 0cm 0cm 0cm 0.5cm;
}

div.fixed_title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#252525;
    z-index: 10001;
}

div.fixed_legend {
    position: fixed;
    top: 1.4cm;
    left: 0;
    width: 100%;
    length: 20%;
    background-color:#525252;
    z-index: 10001;
}

div.scrollable {
    width:98.5%;
    left: 0;
    right: 0;
}

div.fixed {
    left:10cm;
    length: 100px;
    width:253%;
    background-color:#737373;
}

.curve {
    width:15%;
}

div.low {
    top: 150;
}

div.lowB {
    top: 120;
    left: 0;
    right: 0;
    padding:0cm 0cm 0cm 0cm;
}

ul.tab {
    border: solid;
    border-color: #337ab7;
}

button.mini {
    border: none;
    border-radius: 5px;
    width: 7.35%;
    padding:0cm 0cm 0cm 0cm
}

button {
    border: none;
    border-radius: 5px;
    background-color:#337ab7;
    width: 15%;
    padding:0cm 0cm 0cm 0cm
}

div.button {
    padding:1cm 0cm 0cm 0cm;
}

div.padding {
    padding:0cm 0cm 0cm 0cm;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

li {
  color: #f0f0f0;
}

tr:hover{background-color:#f5f5f5}
